version: "3"

services:
  mongo:
    image: mongo
    restart: always
    volumes:
      - mongo-data:/data/db

  backend:
    build: ./backend
    restart: always
    env_file: 
      - ./backend/.env.prod
    depends_on:
      - mongo
    expose:
      - "5000"

  frontend:
    build: ./frontend
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  mongo-data:
